{% extends "base.html" %}

{% block conteudo %}

<div class="topo">

    <h2>

        🧠 ORÁCULO FUNCERN

    </h2>

</div>

<div class="cards">

    <div class="card-info">

        <h3>Questões</h3>

        <span id="totalQuestoes">

            0

        </span>

    </div>

    <div class="card-info">

        <h3>Acertos</h3>

        <span>

            0%

        </span>

    </div>

    <div class="card-info">

        <h3>Sequência</h3>

        <span>

            0

        </span>

    </div>

    <div class="card-info">

        <h3>Horas</h3>

        <span>

            0

        </span>

    </div>

</div>

{% endblock %}